@model Numiteq.Areas.Admin.ViewModels.Number.IndexViewModel
@{
    ViewData["Title"] = "Numbers";
    int i = 0;
}

<div class="toolbar">
    <a asp-action="Add" class="btn btn--full">Add</a>
    <a asp-action="Settings" class="btn btn--full">Settings</a>
    <a asp-area="Admin" asp-controller="Home" class="btn btn--full">Back</a>
</div>

<table class="table">
    <thead class="thead-dark">
        <tr>
            <th scope="col">#</th>
            <th scope="col">Value</th>
            <th scope="col">Label</th>
            <th scope="col">Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var number in Model.Numbers)
        {
            i++;

            <tr>
                <th scope="row">@i</th>
                <td>@number.Value</td>
                <td>@number.Label</td>
                <td class="action">
                    <a asp-action="Edit" asp-route-id="@number.Id" class="btn">Edit</a>
                    <a asp-action="Delete" asp-route-id="@number.Id" class="btn">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
