@model Numiteq.Areas.Admin.ViewModels.Users.IndexViewModel
@{
    ViewData["Title"] = "Users";
    int i = 1;
}

<div class="toolbar">
    <a asp-area="Admin" asp-controller="Home" class="btn btn--full">Back</a>
</div>

<table class="table">
    <thead class="thead-dark">
        <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Email</th>
            <th scope="col">Admin</th>
            <th scope="col">Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model.Users)
        {
            i++;

            <tr>
                <th scope="row">@i</th>
                <td>@user.UserName</td>
                <td>@user.Email</td>
                <td>@(user.IsAdmin ? "YES" : "NO")</td>
                <td>
                    @if (user.IsAdmin)
                    {
                        <a asp-action="RemoveAdminRole" asp-route-id="@user.Id" class="btn">Remove from admins</a>
                    }
                    else
                    {
                        <a asp-action="AddAdminRole" asp-route-id="@user.Id" class="btn">Set admin</a>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
