@model Numiteq.Areas.Admin.ViewModels.Services.IndexViewModel
@{
    ViewData["Title"] = "Services";
    int i = 0;
}

<h2>@ViewData["Title"]</h2>

<a asp-action="Add">Add</a> |
<a asp-action="Settings">Settings</a> |
<a asp-area="Admin" asp-controller="Home">Back</a>

<table class="table">
    <thead class="thead-dark">
        <tr>
            <th scope="col">#</th>
            <th scope="col">Title</th>
            <th scope="col">Description</th>
            <th scope="col">Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var service in Model.Services)
        {
            <tr>
                <th scope="row">@i</th>
                <td>@service.Title</td>
                <td>@Html.Raw(service.Description)</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@service.Id">Edit</a>
                    | <a asp-action="Delete" asp-route-id="@service.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>